body{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    display: grid;
    place-items: center;
    margin-top: 100px;
    color: #fff;
}
.todoField{
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
.todoField .todoField__btn{
    color: #fff;
    background-color: black;
    border: 0;
    height: 35px;
    width:60px;
    cursor: pointer;
}
.todoField .todoField__input{
    height: 35px;
    padding: 0 30px;
    border: 0;
    outline: 0;
}
h1{
    text-align: center;
    margin: auto;
}
.todos{
    text-decoration: none;
    list-style-type:none ;
    max-height: 400px;
    overflow-y: auto;
}
.todos::-webkit-scrollbar{
    width: 10px;
    background-color:rgb(255, 255, 255);
}
.todos::-webkit-scrollbar-thumb{
    background-color: #000000;
}
.todos__item{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.todos__text{
    font-size: 18px;
}
.todos .todos__buttons button{
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: transparent;
    border: 0;
}
.todos .todos__text.todos__text--done{
    text-decoration: line-through;
}













